<h1>People</h1>
<nav>
  <ul>
    <li>
      <a href="/">Home</a>
    </li>
    <li>
      <a href="/view">View Records</a>
    </li>
    <li>
      <a href="/add">Add Person</a>
    </li>
  </ul>
</nav>
