<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Add | People</title>
    <link rel="stylesheet" type="text/css" href="/css/stylesheet.css" />
  </head>
  <body>
    <%- include('./partials/header') %>

    <form method="post" action="/add">
      <ul>
        <li>
          <label for="name">Name</label>
          <input
            type="text"
            name="name"
            id="name"
            placeholder="Person name"
            required
          />
        </li>
        <li>
          <label for="gender">Gender:</label>
          <select id="gender" name="gender">
            <option value="Male">Male</option>
            <option value="Female">Female</option>
            <option value="Other" selected>Other</option>
          </select>
        </li>
        <li>
          <label for="activity">Job:</label>
          <input type="text" name="job" id="job" placeholder="Person job" />
        </li>
        <li>
          <input type="submit" value="submit" />
        </li>
      </ul>
    </form>
  </body>
</html>
